body {
  margin: 0;
  padding: 0;
  background-color: rgba(163, 164, 192, 1);
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


///230 140 92
///205 108 60
///82 83 104
//36 36 45
